# EditorConfig is awesome: https://EditorConfig.org
# EditorConfig Properties: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[Makefile]
indent_style = tab

[*.{py}]
indent_size = 4

[*.{ps1,psm1,psd1}]
indent_size = 4
